<!--
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" herf="{% static 'css/style.css' %}">
</head>
<body>
    <form action="" autocomplete="on" method="post" >
        {% csrf_token %}
        <input type="id"><br>
        <input type="password"><br>
        <input type="button" name="아이디찾기">
        <input type="button" name="비밀번호찾기">
        <input type="button" name="로그인" value="LOGIN">
        {{ form.as_p }}
<button type="submit">확정 </button>
    </form>

</body>
</html>-->
